@media (max-width: 500px) {
    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .btn {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .white-btn {
        width: 100%;
        padding: 20px;
    }

    .line-btn {
        width: 100%;
        padding: 8px;
    }

    .brown-btn {
        width: 100%;
    }

    .footer {
        background: url(../images/footer-mobile.avif) center top / cover no-repeat;
    }

    .main-hero {
        background: url(../images/main-hero-mobile.avif) right top / cover no-repeat;
    }

    .relative {
        position: relative;

        .wpcf7-spinner {
            position: absolute !important;
            bottom: 10px !important;
            right: 10px !important;
        }
    }
}